.menu-horizontal {
    li {
        display: inline-block;
        float: left;
    }
}
.menu {
    li {
      padding: @menuPadding;
    }
    &.menu-primary {
        li {
            border-right: 1px solid @primaryMenuLinkColor;
            &:last-child {
              border-right: none;
            }
        }

        a {
            color: @primaryMenuLinkColor;
            &:hover {
                color: @primaryMenuLinkColorHover;
            }
        }

    }
}