.menu-horizontal {
    li {
        display: inline-block;
        float: left;
    }
}
.menu {
    &.menu-primary {
        li {
            /*&:after {
                content: "|";
                padding-right: @baseFontSize / 1.25px;
                padding-left:@baseFontSize / 1.16px;
            }

            &:last-child:after {
                content: "";
            }*/
            padding: @paddingMini;
            border-right: 1px solid @primaryMenuLinkColor;
        }

        a {
            color: @primaryMenuLinkColor;
            &:hover {
                color: @primaryMenuLinkColorHover;
            }
        }

    }
}