@import "scaffolding";

.header {
    border: 1px solid #499249;
    height: 200px;

    .logo {
        max-width: 225px;
    }
}

.content {
    height: 500px;
    background-color: green;
}

.footer {
    height: 200px;
}

[role="contentinfo"] {
    color:  @footerTextColor;
    font-size: @fontSizeSmall;
    font-weight: bold;
    margin-top: @baseLineHeight * 1.5;
}

#support a {
    text-decoration: underline;
}


@import "widgets";

@import "menus";



