@import "scaffolding";

.header-image {
    margin-top: @baseLineHeight * 1.5;
}

.container {
    background-size: cover;
    background-attachment: scroll;
    background-image: url('img/backgrounds/background-front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    background-position: center center;
}

@media (max-width: 767px) {
    .container {
        background-position: 20% 20%;
        background-size: auto;
    }
}


.content {
    height: 500px;
}

[role="contentinfo"] {
    color: @footerTextColor;
    font-size: @fontSizeSmall;
    font-weight: bold;
    margin-top: @baseLineHeight * 1.5; 
}

[role="contentinfo"] a:hover {
    color:  @footerLinkColorHover;
}

@media (max-width: 767px) {
    [role="contentinfo"] {
        text-align: center;
    }
}

#support a {
    text-decoration: underline;
}


@import "widgets";

@import "menus";



