.header {
    background-color: #499249;
    height: 200px;
}

.content {
    height: 500px;
    background-color: green;
}

.footer {
    height: 200px;
    border-top: 1px solid lighten(@widgetBackground, 50%);
}

.widget-area {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

div:first-child > .widget-area {
  margin-right: 20px;
}

div:last-child > .widget-area {
  margin-left: 20px;
}

.widget {
    padding: 20px;
    margin-top: 20px;
    height: 140px;
    background-color: @widgetBackground;
}

.menu-horizontal {
    li {
        display: inline-block;
    }

    &.menu-horizontal-separated {
        li {
            &:after {
                content: "|";
                padding-right:8px;
                padding-left:12px;
            }

            &:last-child:after {
                content: "";
            }
        }
    }
}

