.widget-area {
  margin: 0;
  padding: 0;
}

.widget {
    padding: @baseLineHeight;
    margin-top: @baseLineHeight;
    height: @widgetHeight;
    border-right: 1px solid @widgetBorderColor;
    background-color: @grayDark;
    &:last-child {
        border-right: none;
    }
}