// Links
// -------------------------

.link-alt {
  color: @altLinkColor;
  &:hover {
    color:  @altLinkColorHover;
  }
}

// Front Page
// -------------------------

#front-page {
  article {
    margin-top: 400px;
  }
  footer {
    text-align: right;
  }
}

@media (max-width: 767px) {
  #front-page {
    margin-top: @baseLineHeight;

    article {
      margin-top: 30px;
    }

    & > .align-wrapper .align-base {
      position: static;
    }
    
  }
}

.text-feature {
  line-height: 1;
  .text-large;
  .text-upper {
    .text-xlarge;
  }
  .text-alt {
    font-size: 233%;
  }
}