@font-face {
  font-family: 'Abraham Lincoln';
  src: url('http://cookedfonts.com/sets/abrahamlincoln/abrahamlincoln-webfont.eot');
  src: url('http://cookedfonts.com/sets/abrahamlincoln/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://cookedfonts.com/sets/abrahamlincoln/abrahamlincoln-webfont.woff') format('woff')
  url('http://cookedfonts.com/sets/abrahamlincoln/abrahamlincoln-webfont.ttf') format('truetype'),
  url('http://cookedfonts.com/sets/abrahamlincoln/abrahamlincoln-webfont.svg#AbrahamLincolnRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}