footer {
  color: @footerTextColor;
  font-size: @fontSizeSmall;
  font-weight: bold;
  margin-top: @baseLineHeight * 1.5; 
}

footer a:hover {
  color:  @footerLinkColorHover;
}

@media (max-width: 767px) {
  [role="contentinfo"] {
    text-align: center;
  }
}

#support a {
  text-decoration: underline;
}
