[role="contentinfo"] {
  color: @footerTextColor;
  font-size: @fontSizeSmall;
  font-weight: bold;
  margin-top: @baseLineHeight * 1.5; 
}

[role="contentinfo"] a {
  color: @footerLinkColor;
  &:hover {
    color:  @footerLinkColorHover;
  }
}

#support a {
  text-decoration: underline;
}

.menu-secondary {
  margin-left: 0;
  .list-horizontal();
}

@media (max-width: 767px) {
  [role="contentinfo"] {
    text-align: center;
  }

  .menu-secondary {
    float: none;
    text-align: center;
    li {
      float: none;
    }
    margin: auto;
  }
  #copyright {
    float: none;
  }
}

@media (min-width: 768px) {
  .menu-secondary {
    float: right;
  }
}
