legend {
  color: @creamTheme;
  margin-bottom: 0; // legend has a margin by default but one is also added by the adjacent sibling, so we remove it.
}

.description {
  margin-bottom: @baseLineHeight;
}

// Override the padding that's indended to align form elements with actions.
.form-actions.form-actions-simple {
  padding-left: 0;
  padding-right: 0;
}

// For narrow forms, use this class instead of form-horizontal to return to vertical controls early.
@media (min-width: 980px) {
  .form-horizontal-narrow {
    .form-horizontal;
  }
}

.form-horizontal-simple {
  .control-label {
    text-align: left;
  }
}

@media (max-width: 767px) {
  form {
    .btn {
      .btn-block;
      .btn-large;
    }
    textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
      .input-block-level;
    }
  }
}

// Contact Form 7
// -------------------------
span.wpcf7-not-valid-tip {
  background-color: @black;
  border-color: @redTheme;
}

div.wpcf7-validation-errors {
  border-color: @yellowTheme;
}
.wpcf7-form-control-wrap {
  display: block;
}
.wpcf7-form p { 
  padding: 0;
  margin: 0;
  &.description {
    .description;
  }
}

@media (max-width: 767px) {
  .wpcf7-form-control-wrap {
    .wpcf7-not-valid-tip {
      width: auto;
    }
  }
}

