legend {
  color: @creamTheme;
  margin-bottom: 0; // legend has a margin by default but one is also added by the adjacent sibling, so we remove it.
}

// Override the padding that's indended to align form elements with actions.
.form-actions-simple {
  padding-left: 0;
  padding-right: 0;
}

.form-horizontal-simple .control-label {
  text-align: left
}

@media (max-width: 767px) {
  form .btn {
    .btn-block;
  }
}

// Contact Form 7
// -------------------------
span.wpcf7-not-valid-tip {
  background-color: @black;
  border-color: @redTheme;
}

div.wpcf7-validation-errors {
  border-color: @yellowTheme;
}
.wpcf7-form-control-wrap {
  display: block;
}
.wpcf7-form p { 
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .wpcf7-form-control-wrap {
    .wpcf7-not-valid-tip {
      width: auto;
    }
  }
}

