header {
  padding-top: 30px;
}

.header-links {
  padding-top: 30px;
}


.social-media {
  margin: 0 0 0 5px;
  height: @themeIconSocialHeight;

  vertical-align: middle;
  text-align: center;

  
  li {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .social-media-container {
    float: right;
  }

  .social-media {
    display: table-cell;
    li {
      margin-left: 10px;
    }
  }
}

@media (max-width: 767px) {
  .header-image-container {
    text-align: center;
  }
  .social-media {
    margin: 0;
  }
  .menu-toggle {
    margin: 0 auto;
  }
}