.header-image {
  margin-top: @baseLineHeight * 1.5;
}
.social-media-container {
  float: right;
}
.social-media {
  margin-top: @baseLineHeight * 3 - (@baseFontSize / 2);
  margin-left: 5px;
  li {
    margin-left: 10px;
    display: inline-block;
  }
}