.content {
    background-attachment: scroll;
    background-image: url('img/backgrounds/background-front.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 485px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .content {
      background-size: cover;
      -moz-background-size: cover;
  }
}

@media (max-width: 767px) {
    .content {
        background-position: 20% 20%;
    }
}
