.main {
  min-height: 485px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .main {
    background-size: cover;
    -moz-background-size: cover;
  }
}

@media (max-width: 767px) {
  .main {
    min-height: 320px;
  }
  body.custom-background {
    background-image: none !important;
  }
}
