strong {
  text-transform: uppercase;
  font-size: @baseFontSize * 2;
//  line-height: @baseLineHeight * 2;
  strong {
    font-family: @altFontFamily;
    font-size: 150%;
//    line-height: 150%;
  }
}