b {
  text-transform: uppercase;
}

//.text-feature {
//  line-height: normal;
//}

.text-alt {
  font-family: @altFontFamily;
}

.text-upper {
  text-transform: uppercase;
}

.text-highlight {
  color: @highlightTextColor;
}

.text-highlight-alt {
  color: @altHighlightTextColor;
}