.widget-area {
  margin: 0;
  padding: 0;
}

.widget {
  padding: @widgetPadding;
  margin-top: @baseLineHeight;
  min-height: @widgetHeight;
  position: relative;
  img, i {
    float: right;
  }
}

.widget:before {
  content: "";
  height: 100%;
  width: 1px;
  border-right: 1px solid @grayTheme;
  position: absolute;
  left: -(@gridGutterWidth / 2 + 1px);
  top: 0;
}

.widget:nth-child(3n+1):before {
  display: none;
}

.widget:first-child .widget-separator {
  display: none;
  visibility: hidden;
}

.widget [class^="icon-theme-sticker-"], 
.widget [class*=" icon-theme-sticker-"],
.widget img {
  margin-top: -(@baseLineHeight * 0.25);
}

@media (min-width: 1200px) {
  .widget:before {
    left: -(@gridGutterWidth1200 / 2 + 1px);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .widget {
    min-height: 200px;
    padding: 10px 2px 2px 2px;
    .widget-thumbnail {
      float: none;
    }
    img + p {
      margin-top: @baseLineHeight / 2;
    }

    &:before {
      left: -(@gridGutterWidth768 / 2 + 1px);
    }
    .thumbnail {
      float: none;
    }
  }

}

@media (max-width: 767px) {
  .widget {
    border-bottom: 1px solid @grayTheme;
    &:before {
      display: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.widget {
  .text-medium;
  line-height: 1;
  strong {
    .text-large;
    line-height: 1;
    .text-alt {
      font-size: 185%;
    }
  }
}